<h1>{{player.name}}</h1>

 <div>
    {{player.sport}} - {{player.team}} - {{player.shoe}} - {{player.price}}
</div>

<div>
    <a href="/brands/{{brandId}}/players/{{player._id}}/delete">DELETE PLAYER</a>
</div>

<div>
<a href="/brands/{{brandId}}/players/{{player._id}}/edit">EDIT</a>
</div>

<div>
    <a href="/brands/{{brandId}}/players">back to players index</a>
</div>